.confirm-modal {

    .modal-header {
        
        button {
            color: white;
            padding: 6px 10px;
            margin-top: 0px;
            margin-right: -10px;
        }

        button:hover {
            background-color: #ccc;
            color: black;
        }
    }

    .form-control-file {
        border: 1px solid #ccc;
        padding: 2.4px 10px;
        border-radius: 3px;
    }
    
}