.doctor-schedule-container {
    margin-left: 10px;
    margin-right: 10px;

    .text-calendar {
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 14px;
        color: #333;
        text-transform: uppercase;
        
        i {
            margin-right: 5px;
            font-weight: 600;
        }
    }
    .all-date {
        margin-bottom: 10px;

        select {
            border: none;
            color: #337ab9;
            outline: none;
            padding-top: 3px;
            font-size: 14px;
            cursor: pointer;
            height: 40px;
            width: 150px;
            border-radius: 5px;
            margin: 5px 0;
        }
    }

    .all-hour {


        .time-container {

            .delete-btn {
                color: red;
                
                i{
                    margin-right: 5px;
                }
            }
        }
    }

    .table-list {
        #table-schedule {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
          }

          .schedule-row {

            i {
                cursor: pointer;

                &:hover {
                    color: red;
                }
            }
          }
          
          #table-schedule td, #table-schedule th {
            border: 1px solid #ddd;
            padding: 8px;
          }
          
          #table-schedule tr{background-color: white;}
          
          #table-schedule th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: #0071ba;
            color: white;
          }

          #table-schedule .confirm-btn {
            color: white;
          }

          #table-schedule .no-data {
            text-align: center;
          }

          .no-data {
            color: red;
          }
    }
}