.patient-modal {

    .modal-header {
        
        button {
            color: white;
            padding: 6px 10px;
            margin-top: 0px;
            margin-right: -10px;
        }

        button:hover {
            background-color: #ccc;
            color: black;
        }
    }

    label {
        width: 140px;
        margin-left: 20px;
        font-weight: 600;
    }

    input {
        border: none;
        min-width: 200px;
        padding-left: 10px;
    }
    
}