.more-infos {
    display: flex;
    // gap: 12px;

    .content-left {
        width: 25%;
    }
    
    .content-right {
        width: 75%;
    }

    label {
        margin-left: 2px;
        font-weight: 600;
        color: #0071ba;
    }
}

.detail-infos {
    display: flex;
    flex-wrap: wrap;
    // gap: 10px;

    // .price, .payment, .province, .name, .address, .note, .specialty, .clinic {
    //     width: 32.7%;
    // }

    label {
        margin-left: 2px;
        font-weight: 600;
        color: #0071ba;
    }
}


.markdown, .save-btn {
    padding: 0 30px !important;

    label {
        margin-left: 2px;
        font-weight: 600;
        color: #0071ba;
    }
}

.markdown-editor {
    background-color: #eee;
}