.create-row {
    // border: 1px solid #04AA6D;
    background-color: #eee;

    input {
        &:disabled {
            background-color: #ccc;
        }
    }

    .create-title {
        // border-bottom: 1px solid #04AA6D;
        padding-bottom: 5px;
        padding-top: 5px;
        color: white;
        font-weight: 700;
        background-color: #04AA6D;
    }
}
.img-container {
    display: flex;
    .upload-label {
        padding: 5px;
        background-color: #ccc;
        border-radius: 3px;
        width: 102px;
        cursor: pointer;
        font-size: 12px;
        margin-top: 2.5px;
    
        i {
            margin-right: 5px;
        }
    
        &:hover {
            opacity: 0.8;
        }
    }

    .preview-img {
        width: 59%;
        height: calc(1.5em + 0.75rem + 2px);
        border: 1px solid #ccc;
        margin-right: 5px;
        border-radius: 0.25rem;
        background: center center no-repeat;
        background-size: contain;
        background-color: white;
        cursor: pointer;
    }
}

.nav-item {
    // border: 2px solid #007bff;
    margin-right: 5px;
    border-radius: 10px;

    i {
        margin-right: 5px;
    }

    .link-1 {
        border: 1px solid gold;
        color: gold;

        &:hover {
            background-color: gold;
            color: white;
        }
    }

    .link-2 {
        border: 1px solid red;
        color: red;

        &:hover {
            background-color: red;
            color: white;
        }
    }
    
    .link-1.active {
        background-color: gold !important;
    }

    .link-2.active {
        background-color: red !important;
    }
}

// .nav-list {
//     margin: 20px 200px 0;
// }