@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 60px;
    position: fixed;
    width: 100%;

    .header-tabs-container {
        display: flex;

        .home {
            border-left: 1px solid white;
            border-right: 1px solid white;

            i {
                color: white;
                font-size: 18px;
                margin-top: 14px;
            }

            &:hover {
                background-color: darken($colormain, 5);
            }
        }

        .navigator-menu {
        }
    }

    .header-end {
        cursor: pointer;
        display: flex;

        .welcome {
            margin-right: 20px;
            display: flex;
            cursor: auto;

            .user-avatar {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                border: 1px solid #ddd;
                margin-right: 5px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                margin-top: 5px;
                background-color: white;
            }

            .username {
                margin-top: 18px;
            }
        }

        .languages {
            cursor: auto;
            color: greenyellow;
            margin-right: 5px;
            margin-top: 18px;
            font-size: 20px;
        }

        .language-vi {
            margin-top: 18px;

            &.active {
                color: darkmagenta;
            }
        }

        .language-en {
            margin-right: 20px;
            margin-left: 5px;
            margin-top: 18px;

            &.active {
                color: darkmagenta;
            }
        }

        .language-vi:hover, .language-en:hover {
            color: yellow;
        }

        .btn-logout {
            color: $common-text-color;
            line-height: 40px;
            height: 60px;
            padding:  10px;
            border-left: 1px solid white;
            border-right: 1px solid white;
            &:hover {
                background-color: darken($colormain, 5);
            }
            i {
                font-size: $base-size + 1px;
            }
        }
    }
}