.container {
    max-width: 1300px !important;
  
  }
  
  .patient-appointment-container {
  
      .background {
          background-color: #eee;
          padding: 20px 0;
          border-radius: 4px;
  
          .table-title {
              background-color: #04AA6D;
              color: white;
              padding: 10px;
              margin-top: 10px;
          }
  
          .table-list {
              #table-schedule {
                  font-family: Arial, Helvetica, sans-serif;
                  border-collapse: collapse;
                  width: 100%;
                  // margin-bottom: 10px;
                }

                .patient-row {
                    cursor: auto;

                    :hover {}

                    .status {
                      color: gold;
                      border: 1px solid gold;
                      padding: 5px 0;
                      border-radius: 5px;
                      margin: auto;
                      width: 100px;
                    }
                }
                
                #table-schedule td, #table-schedule th {
                  border: 1px solid #ddd;
                  padding: 8px;
                }
                
                #table-schedule tr{background-color: white;}

                // #table-schedule tr:hover {
                //     background-color: whitesmoke;
                // }
                
                // #table-schedule tr:hover {background-color: #ddd;}
                
                #table-schedule th {
                  padding-top: 12px;
                  padding-bottom: 12px;
                  text-align: center;
                  background-color: #0071ba;
                  color: white;
                }
  
                #table-schedule .confirm-btn {
                  color: white;
                }
  
                #table-schedule .no-data {
                  text-align: center;
                }
          }
      }
  }