.patient-details {
    background-color: #eee;
    display: flex;

    .avatar {
        height: 160px;
        width: 160px;
        background-size: cover;
        color: transparent;
    }

    input {
        background-color: white !important;
    }

    .edit-btn {
        float: right;
        margin-right: 10px;
    }
}

.more-info {
    display: flex;
    flex-wrap: wrap;

    button:hover {
        background-color: gold;
        color: white;
    }

    .detail-button {
        height: 40px;
        min-width: 100px;
        background-color: white;
        border: 1px solid orange;
        color: orange;
        border-radius: 5px;
    }

    .content-left {
        width: 25%;
    }
    
    .content-right {
        width: 100%;
    }

    label {
        margin-left: 2px;
        font-weight: 600;
        color: #0071ba;
    }
}

.detail-info {
    display: flex;
    flex-wrap: wrap;

    label {
        margin-left: 2px;
        font-weight: 600;
        color: #0071ba;
    }
}

.markdown-editor {
    background-color: #eee;
}

.modal-clinic-container {
    .modal-header {
      button {
        color: white;
        background-color: transparent;
        border: 1px solid white;
        font-size: 30px;
        padding: 0 6px;
        margin-top: 2px;
        margin-right: -8px;
      }
    }

    .modal-clinic-body {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;

      .input-container {
        display: flex;
        flex-direction: column;
        width: 48.4%;
        position: relative;

        &.max-width-input {
          width: 99%;
        }
  
        input, select {
          border-radius: 4px;
          height: 30px;
          outline: none;
          border: 1px solid gray;
          padding: 0 10px;
        }
      }
    }
  }